.primary {
  color: #a0ce4e !important;
}

.primary-bg {
  background: #a0ce4e;
}

.bg-gray {
  background: #f4f4f4;
}

body {
  color: #787878;
  padding-top: 58px;
  position: relative;
}

.navbar {
  box-shadow: 0 0 3px #b5b5b5;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link {
  color: #a0ce4e
}

.navbar-brand {
  font-size: 1.75rem;
  font-weight: 200;
  padding: 0;
}

/* For parallax */
body, html {
    height: 100%;
}

.jumbotron {
  /* The image used */
  background-image: url(../img/pexels-photo-169573-50g.jpg);

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.display-5 {
  font-size: 3rem;
  font-weight: 300;
}
